[submodule "pack/my-plugins/start/vim-monokai-1"]
	path = pack/my-plugins/opt/vim-monokai-1
	url = https://github.com/sickill/vim-monokai.git
[submodule "pack/my-plugins/start/python-syntax"]
	path = pack/my-plugins/opt/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "pack/my-plugins/start/vim-nefertiti"]
	path = pack/my-plugins/start/vim-nefertiti
	url = https://github.com/jeetsukumaran/vim-nefertiti.git
[submodule "pack/my-plugins/start/gruvbox"]
	path = pack/my-plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/my-plugins/opt/vim-airline"]
	path = pack/my-plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/my-plugins/start/coc.nvim"]
	path = pack/my-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/my-plugins/start/vim-monokai"]
	path = pack/my-plugins/opt/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "pack/my-plugins/opt/vim-airline-themes"]
	path = pack/my-plugins/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/my-plugins/start/nvim-treesitter"]
	path = pack/my-plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/my-plugins/opt/nvim-treesitter-context"]
	path = pack/my-plugins/opt/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule "pack/my-plugins/opt/indent-blankline.nvim"]
	path = pack/my-plugins/opt/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
